[
    {
        "domain": ".www.tiktok.com",
        "expirationDate": 1757028078.833753,
        "hostOnly": false,
        "httpOnly": false,
        "name": "delay_guest_mode_vid",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "5"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1757291356.600431,
        "hostOnly": false,
        "httpOnly": false,
        "name": "msToken",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "bIMYpuezv9lv2MNb81Gf1KBeRrt5AG68H__FJiNjica_FhHWNArvKwtXwSCylGpmchaVx1WlGqfsmPuZRLevY_RJCDjWy0GTNNV90K99ZNtqxHJPF_yLtXNEiZq0h91DI-SbXQJ1mUq7tQ=="
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771300895.365748,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sid_guard",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "002291210a72575f3087471ede59e4aa%7C1755748894%7C15551991%7CTue%2C+17-Feb-2026+04%3A01%3A25+GMT"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771979196.950644,
        "hostOnly": false,
        "httpOnly": true,
        "name": "ttwid",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "1%7CI4NipSzbPsICB1rCKqdGXNXr9gwlGcpetJPiVtJ1-A8%7C1756427197%7C7e0df9899ac06e03b3c928567a781527aa96c523fa8c435ebc37b9ab4a8bd14b"
    },
    {
        "domain": ".www.tiktok.com",
        "expirationDate": 1756855280,
        "hostOnly": false,
        "httpOnly": false,
        "name": "perf_feed_cache",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "{%22expireTimestamp%22:1756594800000%2C%22itemIds%22:[%227543395416541236536%22%2C%227543734177431096632%22%2C%227543402798642187525%22]}"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771300886.365823,
        "hostOnly": false,
        "httpOnly": true,
        "name": "uid_tt",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "cd7b2f71bcd382f5b173430a5d8fbc34d0cb18b319d63a41908d5cd38132c413"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1760932550.841573,
        "hostOnly": false,
        "httpOnly": false,
        "name": "passport_csrf_token_default",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "0aa8944127da36dd52eb4b9e85125306"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771300886.36601,
        "hostOnly": false,
        "httpOnly": true,
        "name": "ssid_ucp_v1",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "1.0.0-KGMyNjllMTVmZmYzZWM5OTkxM2QyZGM3ZGM5NzFhMWFmZmZkYTBlNDgKGgiFiMGalceQvWYQnrSaxQYYsws4AUDyB0gEEAMaBm1hbGl2YSIgMDAyMjkxMjEwYTcyNTc1ZjMwODc0NzFlZGU1OWU0YWE"
    },
    {
        "domain": ".www.tiktok.com",
        "expirationDate": 1757028074.47984,
        "hostOnly": false,
        "httpOnly": false,
        "name": "tiktok_webapp_theme",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "light"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1760932886.070034,
        "hostOnly": false,
        "httpOnly": true,
        "name": "cmpl_token",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "AgQQAPNvF-RO0rZErJ7bYp088scB9_9bf4TkYN0aZQ"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1760932886.069995,
        "hostOnly": false,
        "httpOnly": true,
        "name": "multi_sids",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "7384287353005687813%3A002291210a72575f3087471ede59e4aa"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1760932550.841399,
        "hostOnly": false,
        "httpOnly": false,
        "name": "passport_csrf_token",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "0aa8944127da36dd52eb4b9e85125306"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771300886.365921,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sessionid",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "002291210a72575f3087471ede59e4aa"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771300886.365951,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sessionid_ss",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "002291210a72575f3087471ede59e4aa"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771300886.36589,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sid_tt",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "002291210a72575f3087471ede59e4aa"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771300886.36598,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sid_ucp_v1",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "1.0.0-KGMyNjllMTVmZmYzZWM5OTkxM2QyZGM3ZGM5NzFhMWFmZmZkYTBlNDgKGgiFiMGalceQvWYQnrSaxQYYsws4AUDyB0gEEAMaBm1hbGl2YSIgMDAyMjkxMjEwYTcyNTc1ZjMwODc0NzFlZGU1OWU0YWE"
    },
    {
        "domain": ".www.tiktok.com",
        "expirationDate": 1757028074.479675,
        "hostOnly": false,
        "httpOnly": false,
        "name": "tiktok_webapp_theme_source",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "auto"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771975273.204889,
        "hostOnly": false,
        "httpOnly": true,
        "name": "tt_chain_token",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "Uajz0o4QyoCMoNw3QswJ/A=="
    },
    {
        "domain": ".tiktok.com",
        "hostOnly": false,
        "httpOnly": true,
        "name": "tt_csrf_token",
        "path": "/",
        "sameSite": "lax",
        "secure": true,
        "session": true,
        "storeId": null,
        "value": "pPpArCHp-CxUZsM3HCOL-NDI8hzAQrM3S2rE"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1771300886.365858,
        "hostOnly": false,
        "httpOnly": true,
        "name": "uid_tt_ss",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "cd7b2f71bcd382f5b173430a5d8fbc34d0cb18b319d63a41908d5cd38132c413"
    }
]
