[
    {
        "domain": ".www.tiktok.com",
        "expirationDate": 1757028078.833753,
        "hostOnly": false,
        "httpOnly": false,
        "name": "delay_guest_mode_vid",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "5"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1757465522.455472,
        "hostOnly": false,
        "httpOnly": false,
        "name": "msToken",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "LyV_SQzB_k-QjMk6dRJ7PzhCsWFNnvkcScC15JntKKiaX8Qz17p6mFtJBnZPthKgqeS-Dl02fT-mhF0C2IHblJCyxMyYWUTmP7a801s0qTknLyyCRVaNjvma_tutZgIRrL3CubpktqV0tZw="
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772144397.537759,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sid_guard",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "83d9b4037b5c4bdc9f556ee3683ca7c1%7C1756592399%7C15551997%7CThu%2C+26-Feb-2026+22%3A19%3A56+GMT"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772153503.975552,
        "hostOnly": false,
        "httpOnly": true,
        "name": "ttwid",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "1%7CI4NipSzbPsICB1rCKqdGXNXr9gwlGcpetJPiVtJ1-A8%7C1756601504%7C5faf2db2cacde81a61aa1d9f29fc345611cd1418caeb18105d51feaa6e770db1"
    },
    {
        "domain": ".www.tiktok.com",
        "expirationDate": 1757033507,
        "hostOnly": false,
        "httpOnly": false,
        "name": "perf_feed_cache",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "{%22expireTimestamp%22:1756771200000%2C%22itemIds%22:[%227543352561009528070%22%2C%227516734416933113093%22%2C%227544529144512564498%22]}"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772144394.537842,
        "hostOnly": false,
        "httpOnly": true,
        "name": "uid_tt",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "cffa7ba5e70d7dcd457aa71e34bba8c332e89ec4f9556a438c6eaa2c0f9c9c5b"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1760932550.841573,
        "hostOnly": false,
        "httpOnly": false,
        "name": "passport_csrf_token_default",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "0aa8944127da36dd52eb4b9e85125306"
    },
    {
        "domain": ".tiktok.com",
        "hostOnly": false,
        "httpOnly": false,
        "name": "s_v_web_id",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": true,
        "storeId": null,
        "value": "verify_meytr7my_Q9jTTiiH_0hRh_4SU9_BQdV_Dv0WKtiXfFoq"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772144394.538046,
        "hostOnly": false,
        "httpOnly": true,
        "name": "ssid_ucp_v1",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "1.0.0-KGY2NzIzN2I3ZDFlZWZmNDZjNGE3NDQ4NGM4YzUwMGNiYTJlNTY2ZmEKGgiFiMGalceQvWYQj_LNxQYYsws4AUDqB0gEEAMaBm1hbGl2YSIgODNkOWI0MDM3YjVjNGJkYzlmNTU2ZWUzNjgzY2E3YzE"
    },
    {
        "domain": ".www.tiktok.com",
        "expirationDate": 1757206301.737167,
        "hostOnly": false,
        "httpOnly": false,
        "name": "tiktok_webapp_theme",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "dark"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1761776393.946815,
        "hostOnly": false,
        "httpOnly": true,
        "name": "cmpl_token",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "AgQQAPNvF-RO0rZErJ7bYp088scB9_9bf4TkYN0hjw"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1761776393.946744,
        "hostOnly": false,
        "httpOnly": true,
        "name": "multi_sids",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "7384287353005687813%3A83d9b4037b5c4bdc9f556ee3683ca7c1"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1760932550.841399,
        "hostOnly": false,
        "httpOnly": false,
        "name": "passport_csrf_token",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "0aa8944127da36dd52eb4b9e85125306"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772144394.537945,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sessionid",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "83d9b4037b5c4bdc9f556ee3683ca7c1"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772144394.537987,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sessionid_ss",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "83d9b4037b5c4bdc9f556ee3683ca7c1"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772144394.537907,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sid_tt",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "83d9b4037b5c4bdc9f556ee3683ca7c1"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772144394.538016,
        "hostOnly": false,
        "httpOnly": true,
        "name": "sid_ucp_v1",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "1.0.0-KGY2NzIzN2I3ZDFlZWZmNDZjNGE3NDQ4NGM4YzUwMGNiYTJlNTY2ZmEKGgiFiMGalceQvWYQj_LNxQYYsws4AUDqB0gEEAMaBm1hbGl2YSIgODNkOWI0MDM3YjVjNGJkYzlmNTU2ZWUzNjgzY2E3YzE"
    },
    {
        "domain": ".www.tiktok.com",
        "expirationDate": 1757206301.73699,
        "hostOnly": false,
        "httpOnly": false,
        "name": "tiktok_webapp_theme_source",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "auto"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772153496.336952,
        "hostOnly": false,
        "httpOnly": true,
        "name": "tt_chain_token",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "Uajz0o4QyoCMoNw3QswJ/A=="
    },
    {
        "domain": ".tiktok.com",
        "hostOnly": false,
        "httpOnly": true,
        "name": "tt_csrf_token",
        "path": "/",
        "sameSite": "lax",
        "secure": true,
        "session": true,
        "storeId": null,
        "value": "iRv3zzQw-TgTT-GfkT4qE3y4SJURZICUv13A"
    },
    {
        "domain": ".tiktok.com",
        "expirationDate": 1772144394.537877,
        "hostOnly": false,
        "httpOnly": true,
        "name": "uid_tt_ss",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "cffa7ba5e70d7dcd457aa71e34bba8c332e89ec4f9556a438c6eaa2c0f9c9c5b"
    }
]